body h1{
  text-align: center;
}
#description{
  text-align: center;
}
#wraper {
  display: block;
  width: 50%;
  margin: auto;
  background: cornflowerblue;
  padding: 7px;
}
input {
  margin-bottom: 10px;
}
label{
  display:inline-block;
  margin-bottom: 4px;
}